.flexbox {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	/*min-height: 100vh;*/
	padding-top: 50px;
	padding-bottom: 50px;
}

.coltxt {
	width:50%;
}

.colimg {
	display: flex;
	justify-content: flex-end;
	width:50%;
}

.colimg img {
	max-height: 400px;
	width: auto;
}

@media screen and (max-width: 680px) {
	.colimg,
	.coltxt {
		width:100%;
	}

	.colimg img {
		max-height: 400px;
		width: 100%;
	}
}